/* line 1, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar {
  background: #22a7f2;
}
/* line 4, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content {
  color: white;
  font-family: Arial;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0.8em 0.8em 0.5em;
  zoom: 1;
}
/* line 15, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content:before, #site_bar #site_bar_content:after {
  content: "";
  display: table;
}
/* line 16, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content:after {
  clear: both;
}
/* line 18, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content a {
  color: white;
  text-decoration: none;
}
/* line 22, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content a:hover {
  text-decoration: underline;
}
/* line 27, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #editor_switch {
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  /* line 27, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #editor_switch {
    text-align: left;
  }
}
/* line 34, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #editor_switch a {
  background: #ff8951;
  background: -moz-linear-gradient(top, #ff8951 0%, #d14808 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff8951), color-stop(100%, #d14808));
  background: -webkit-linear-gradient(top, #ff8951 0%, #d14808 100%);
  background: -o-linear-gradient(top, #ff8951 0%, #d14808 100%);
  background: -ms-linear-gradient(top, #ff8951 0%, #d14808 100%);
  background: linear-gradient(to bottom, #ff8951 0%, #d14808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8951', endColorstr='#d14808', GradientType=0 );
  border: 1px solid #fca87f;
  border-bottom: 0px none;
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.15em 1em 0.25em;
}
/* line 50, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #editor_switch a:hover {
  background: #d14908;
  text-decoration: none;
}
/* line 57, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_refinery_cms_logo {
  background: url(/assets/refinery/logo-site-bar.png) no-repeat 0 0;
  display: none;
  height: 29px;
  overflow: hidden;
  margin-top: -2px;
  position: relative;
  width: 96px;
}
@media screen and (min-width: 58em) {
  /* line 57, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_refinery_cms_logo {
    display: block;
  }
}
/* line 70, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_refinery_cms_logo span {
  position: absolute;
  left: -1000em;
}
/* line 75, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_refinery_cms_logo:hover {
  background-position: 0 100%;
}
/* line 80, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_branding {
  display: block;
  text-align: center;
  margin-top: 0.5em;
}
@media screen and (min-width: 37.5em) {
  /* line 80, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_branding {
    margin-top: 0.25em;
    text-align: right;
  }
}
/* line 90, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_branding #site_bar_company_name {
  display: block;
  font-weight: bold;
}
@media screen and (min-width: 37.5em) {
  /* line 90, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_branding #site_bar_company_name {
    display: inline-block;
  }
}
/* line 99, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
#site_bar #site_bar_content #site_bar_branding #logout {
  display: block;
  margin-left: 0.9em;
}
@media screen and (min-width: 37.5em) {
  /* line 99, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_branding #logout {
    display: inline-block;
  }
}

@media screen and (min-width: 37.5em) {
  /* line 115, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #editor_switch,
  #site_bar #site_bar_content #site_bar_branding {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 58em) {
  /* line 126, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #editor_switch {
    width: 50%;
  }
  /* line 130, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_branding {
    width: 38%;
  }
  /* line 134, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/site_bar.css.scss */
  #site_bar #site_bar_content #site_bar_refinery_cms_logo {
    float: left;
    width: 12%;
  }
}
