/* demo styles
--------------------------------------------- */
/* line 12, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
body, html {
  overflow: hidden;
}

/* line 16, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 21, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 26, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax {
  font-size: 200%;
}

/* centre the content in the parallax layers */
/* line 31, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #353535;
  font-size: 1em;
}
/* line 40, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.title h1 {
  color: #d8d8d8;
  font-weight: 200;
  font-size: 3em;
  border-bottom: 0.1em solid #e6c229;
}
/* line 45, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.title h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 0 0 20px #353535;
  font-weight: 600;
}
/* line 53, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.title h4 {
  color: #d8d8d8;
}

/* Parallax base styles
 --------------------------------------------- */
/* line 61, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

/* line 70, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 78, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 86, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

/* line 92, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

/* line 98, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

/* line 104, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/* style the groups
--------------------------------------------- */
/* line 114, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group1 {
  z-index: 5;
  /* slide over group 2 */
}
/* line 116, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group1 .parallax__layer--base {
  background: url(/scrolling-home/assets/img/grid.png) no-repeat center center fixed, linear-gradient(#e6c229, black);
}

/* line 121, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}
/* line 123, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group2 .parallax__layer--back {
  background: url("http://dummyimage.com/2560X1440/00ffa6/d8d8d8.png&text=going+down?") no-repeat center center;
}

/* line 128, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}
/* line 130, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group3 .parallax__layer--base {
  background: url("http://dummyimage.com/2560X1440/d8d8d8/00ffa6.png&text=floor+3+please") no-repeat center center;
}

/* line 134, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group4 {
  z-index: 2;
  /* slide under group 3 and 5 */
}
/* line 136, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group4 .parallax__layer--deep {
  background: url("http://dummyimage.com/2560X1440/00ffa6/d8d8d8.png&text=weeee!") no-repeat center center;
}

/* line 141, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group5 {
  z-index: 3;
  /* slide over group 4 and 6 */
}
/* line 143, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group5 .parallax__layer--base {
  background: url("http://dummyimage.com/2560X1440/d8d8d8/00ffa6.png&text=quiet+down+back+there") no-repeat center center;
}

/* line 148, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group6 {
  z-index: 2;
  /* slide under group 5 and 7 */
}
/* line 150, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group6 .parallax__layer--back {
  background: url("http://dummyimage.com/2560X1440/00ffa6/d8d8d8.png&text=slowing+down") no-repeat center center;
}

/* line 155, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group7 {
  z-index: 3;
  /* slide over group 7 */
}
/* line 157, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
div#group7 .parallax__layer--base {
  background: url("http://dummyimage.com/2560X1440/d8d8d8/00ffa6.png&text=END") no-repeat center center;
}

/* ///////navigation\\\\ */
/* line 163, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.site-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 168, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.push-wrap {
  transition: all 300ms ease 0;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 173, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
.show-nav .push-wrap {
  transform: translate(275px, 0);
  transform: translate3d(275px, 0, 0);
}

/* line 177, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
nav {
  width: 275px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
  background: linear-gradient(#353535, #e6c229);
  text-align: center;
  font-size: x-large;
  padding-top: 1em;
}
/* line 189, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
nav ul li a:hover,
nav ul li a:focus {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: 700;
  line-height: 2em;
}
/* line 195, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
nav ul li a {
  color: #e6c229;
}

/* line 200, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
a.toggle-nav {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 20;
  text-decoration: none;
  font-size: x-large;
  color: white;
}
/* line 208, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
a.toggle-nav :hover {
  text-decoration: none;
}

/* line 213, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
button {
  height: 3em;
  width: 9em;
  background: #353535;
  color: #e6c229;
  border: none;
  border-radius: .25em;
  font-size: x-large;
  font-weight: 700;
}

/* //////Video player\\\ */
/* line 226, /Users/Home/Documents/Rails/referee/app/assets/stylesheets/nav.scss */
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: .5;
}
/* Default error colouring */
/* line 3, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
article, nav, header, footer, aside, hgroup, section {
  display: block;
}

/* line 7, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
div.fieldWithErrors {
  display: inline;
}

/* line 11, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
#errorExplanation {
  border-top: 3px solid #F27F7F;
  background: #FFBEBE;
  padding: 10px;
}

/* line 17, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #9C2626;
}

/* Browser Hacks */
/* line 22, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
a {
  /* remove borders from images */
  /*
  Firefox Dotted Line Fix
    - http://sonspring.com/journal/removing-dotted-links
  */
}
/* line 24, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
a img {
  border: 0px none;
}
/* line 31, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
a:focus {
  outline: none;
}

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
/* line 41, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
.clearfix, section {
  display: inline-block;
}
/* line 43, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
.clearfix:after, section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hide from IE Mac \*/
/* line 53, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/formatting.css.scss */
.clearfix, section {
  display: block;
}

/* End hide from IE Mac */
/* alignment styles */
/* line 3, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.text-align-left {
  text-align: left;
}

/* line 6, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.text-align-center {
  text-align: center;
}

/* line 9, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.text-align-right {
  text-align: right;
}

/* line 12, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
/* line 17, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

/* line 22, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
/* line 29, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.font-size-small {
  font-size: 0.75em;
}

/* line 32, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.font-size-normal {
  font-size: 1em;
}

/* line 35, /Users/Home/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/bundler/gems/refinerycms-6d008dce391c/core/app/assets/stylesheets/refinery/theme.css.scss */
.font-size-large {
  font-size: 1.25em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */
